{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}

      <h4>{{ .Site.Data.contact.pays1 }}</h4>
      <ul>
        <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
            {{ .Site.Data.contact.email }}</a></li>
        {{ if .Site.Data.contact.address1 }}
        <li style="white-space: pre-wrap;"><strong>Adresse: </strong><br>{{ .Site.Data.contact.address1 }}</li>
        {{ end }}
      </ul>

      <h4>{{ .Site.Data.contact.pays2 }}</h4>
      <ul>
        <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
            {{ .Site.Data.contact.email }}</a></li>
        {{ if .Site.Data.contact.address2 }}
        <li style="white-space: pre-wrap;"><strong>Adresse: </strong><br>{{ .Site.Data.contact.address2 }}</li>
        {{ end }}
      </ul>


    </div>
  </div>
</div>
{{ end }}
